services:
  solana:
    image: hw:latest
    environment:
      RUST_LOG: solana_runtime::system_instruction_processor=debug,solana_runtime::message_processor=debug,solana_bpf_loader=debug,solana_rbpf=debug
    hostname: solana
    ports:
      - 8899:8899
      - 9900:9900
      - 8900:8900
      - 8003:8003/udp
    expose:
      - "8899"
      - "9900"
      - "8900"
      - "8001"
      - "8001-8009/udp"
    networks:
      - net
    healthcheck:
      test: [ CMD-SHELL, "solana cluster-version -u http://solana:8899" ]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 10s


  tests:
    container_name: hw-test
    image: hw-test:latest
    entrypoint: /bin/bash -c "/bin/bash -c \"$${@}\""
    command: >
      /bin/sh -c
      "
      sleep 10 &&
      /opt/bin/solana-keygen new --no-bip39-passphrase --silent;
      
      /opt/bin/solana -u http://solana:8899 -v airdrop 1;
      /opt/bin/solana -u http://solana:8899 -v airdrop 1 /opt/ci/keys/id1.json;

      /opt/bin/spl-token -u http://solana:8899  create-token --mint-authority /opt/ci/keys/mint-authority.json /opt/ci/keys/mint-keypair.json;

      /opt/bin/spl-token -u http://solana:8899  create-account --owner <user_key> --fee-payer /opt/ci/keys/mint-authority.json <mint_key>;
      /opt/bin/spl-token -u http://solana:8899  mint --recipient-owner <user_key> --mint-authority /opt/ci/keys/mint-authority.json  <mint_key> 100000;

      /opt/bin/hw
      "
    environment:
    hostname: tests
    networks:
      - net
    depends_on:
      solana:
        condition: service_started



  
  airdrop:
    container_name: airdrop
    image: onboardint/test:main
    command: >
      /bin/sh -c
      "
      sleep 10 && 
      /opt/bin/solana-keygen new --no-bip39-passphrase --silent && 
      for f in /opt/keys/id*.json; 
      do 
          /opt/bin/solana -u http://solana:8899 -v airdrop 1000 $$f; 
      done;

      /opt/bin/solana -u http://solana:8899 -v airdrop 1000 /opt/keys/my-keypair.json; 
      "
    volumes:
      - ./keys:/opt/keys
    depends_on:
      solana:
        condition: service_healthy
    networks:
      - net

networks:
  net:
